div.filters-container {
    width: 40%;
    margin: 0 auto;
    border: 1px solid #DDDDDD;
    background-color: #484848;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
}

input[type=number] {
    background-color: #484848;
    color: white;
    border: 1px solid #eeeeee;
}

input[type=date] {
    background-color: #484848;
    color: white;
    border-radius: 10px;
    border: 1px solid #eeeeee;
    padding: 2px;
    margin-top: 25px;
}

option {
    background-color: #646464;
    color: white;
}

select {
    background-color: #646464;
    color: white;
    border-radius: 10px;
    border: 1px solid #eeeeee;
    padding: 2px;
}

#author {
    font-size: 1em;
}

label {
    color: white;
}