div.filters-container {
    width: 30%;
    margin: 10px auto 20px;
    border: 1px solid #DDDDDD;
    background-color: #484848;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    text-align: center;
}

table.filters-table {
    width: 100%;
    /*background-color: red;
    border: 2px solid yellow;*/
}

td.filter-title {
    text-align: left;
    padding: 2px 10px 2px 20px;
    /*border: 2px solid yellow;*/
}

td.filter-value {
    text-align: right;
    padding: 2px 20px 2px 10px;
    /*border: 2px solid yellow;*/
}

input[type=number] {
    background-color: #484848;
    color: white;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
    text-align: right;
    width: 57%;
}

input[type=date] {
    background-color: #484848;
    color: white;
    border-radius: 10px;
    border: 1px solid #eeeeee;
    padding: 5px 5px 2px;
    text-align: right;
    width: 54%;
}

option {
    background-color: #646464;
    color: white;
}

select {
    background-color: #646464;
    color: white;
    border-radius: 10px;
    border: 1px solid #eeeeee;
    padding: 2px;
    width: 59%;
    text-align: right;
}

#author {
    font-size: 0.8em;
    margin: 0px;
    padding: 2px 10px 2px;
    width: 49%;
    text-align: right;
}

label {
    color: white;
}

label.filter-title {
    color: orange;
}
