input[type=text] {
    text-align: center;
    font-size: 1.2em;
    width: 70%;
    margin: auto 7px auto auto;
    background-color: #646464;
    border: 1px solid #eeeeee;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    padding: 5px 15px 5px;
}

input[type=submit] {
    text-align: center;
    font-size: 1.2em;
    background-color: orange;
    color: #FFFFFF;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    text-shadow:none;
    padding: 5px 15px 5px;
}

input[type=submit]:hover {
    background-color: darkorange;
}

div.sort-container {
    width: 15%;
    margin: 0 auto;
    border: 1px solid #DDDDDD;
    background-color: #484848;
    padding: 10px 15px 10px;
    border-radius: 20px;
    box-shadow: 2px 5px 2px black;
}

div.sort-container select {
    width: 60%;
    background-color: #646464;
    color: white;
    border-radius: 10px;
    border: 1px solid #eeeeee;
    padding: 2px;
    font-size: 12px;
}

div.sort-container option {
    background-color: #646464;
    color: white;
    font-size: 12px;
}

div.sort-container label {
    color: white;
}

div.div-searcher {
    background-color: #484848;
    text-align: center;
    width: 40%;
    margin: 30px auto 25px;
    padding: 15px 15px 15px;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    box-shadow: 2px 5px 2px black;
}