div.vulnerability_info {
    width: 45%;
    margin: 0 auto 50px;
    border: 1px solid #DDDDDD;
    background-color: #484848;
    padding: 15px;
    border-radius: 20px;
    align-content: center;
    box-shadow: 2px 2px 2px black;
    margin: auto auto 50px;
}

table.vulnerability_info {
    margin: auto;
    width: 80%;
    font-size: 1.1em;
}

th {
    text-align: left;
    font-weight: bold;
    color: orange;
    font-size: 16px;
    text-align: left;
    width: auto;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
}

td {
    text-align: left;
    color: white;    
    font-size: 16px;
    width: auto;
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 3px;
}

pre {
    font-size: 14px;
    border-collapse: collapse;
    text-align: left;
}

pre.prettyprint {
    border: none !important;
    white-space: pre-wrap !important;
    margin-bottom: 60px;
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
    list-style-type: decimal !important;
}

button {
    text-align: center;
    font-size: 1.2em;
    background-color: orange;
    color: #FFFFFF;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
    text-shadow:none;
    padding: 5px 15px 5px;
    margin: 15px auto 5px;
}

button:hover {
    background-color: darkorange;
}
