div.filters-container {
    width: 40%;
    margin: 10px auto 20px;
    border: 1px solid #DDDDDD;
    background-color: #EEEEEE;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #EEEEEE;
    text-align: center;
}

table.filters-table {
    width: 100%;
    /*background-color: red;
    border: 2px solid yellow;*/
}

td.filter-title {
    text-align: left;
    padding: 2px 20px 2px 40px;
    /*border: 2px solid yellow;*/
}

td.filter-value {
    text-align: right;
    padding: 2px 40px 2px 20px;
    /*border: 2px solid yellow;*/
}

input[type=number] {
    background-color: white;
    border: 1px solid #828282;
    border-radius: 10px;
    color: black;
    padding: 2px 2px 2px 2px;
    text-align: right;
    width: 56%;
}

input[type=date] {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid #828282;
    padding: 5px 5px 2px;
    text-align: right;
    width: 54%;
}

option {
    background-color: white;
    color: black;
}

select {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid #828282;
    padding: 2px;
    width: 58%;
    text-align: right;
}

#author {
    font-size: 0.8em;
    margin: 0px;
    padding: 2px 10px 2px;
    width: 50%;
    text-align: right;
}

div.filters-container input[type=text] {
    border: 1px solid #828282;
}