div.filters-container {
    width: 40%;
    margin: 10px auto 20px;
    border: 1px solid #DDDDDD;
    background-color: #EEEEEE;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #EEEEEE;
}

input[type=number] {
    background-color: white;
    border: 1px solid #828282;
    border-radius: 10px;
    color: black;
    padding: 2px 2px 2px 7px;
}

input[type=date] {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid #828282;
    margin-top: 25px;
    padding: 5px 5px 2px;
}

option {
    background-color: white;
    color: black;
}

select {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid #828282;
    padding: 2px;
}

#author {
    font-size: 1em;
}

div.filters-container input[type=text] {
    border: 1px solid #828282;
}