input[type=text] {
    text-align: center;
    font-size: 1.2em;
    width: 30%;
    margin-bottom: 25px;
    background-color: white;
    border: 1px solid lightgray;
    color: #000000;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #EEEEEE;
    padding: 5px 15px 5px;
}

input[type=submit] {
    text-align: center;
    font-size: 1.2em;
    background-color: orange;
    color: #FFFFFF;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #EEEEEE;
    text-shadow:none;
    padding: 5px 15px 5px;
}

input[type=submit]:hover {
    background-color: darkorange;
}