input[type=text] {
    text-align: center;
    font-size: 1.2em;
    width: 67%;
    margin: auto 7px auto auto;
    background-color: white;
    border: 1px solid lightgray;
    color: #000000;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #C1C1C1;
    padding: 5px 15px 5px;
}

input[type=submit] {
    text-align: center;
    font-size: 1.2em;
    background-color: orange;
    color: #FFFFFF;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #C1C1C1;
    text-shadow:none;
    padding: 5px 15px 5px;
}

input[type=submit]:hover {
    background-color: darkorange;
}

div.sort-container {
    width: 15%;
    margin: 0 auto;
    border: 1px solid #DDDDDD;
    background-color: #EEEEEE;
    padding: 10px 15px 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #EEEEEE;
}

div.sort-container select {
    width: 60%;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid #828282;
    padding: 2px;
    font-size: 12px;
}

div.sort-container option {
    background-color: white;
    color: black;
    font-size: 12px;
}

div.sort-container label {
    color: black;
}

div.div-searcher {
    background-color: #EEEEEE;
    text-align: center;
    width: 40%;
    margin: 30px auto 25px;
    padding: 15px 15px 15px;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #EEEEEE;
}