table.results-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 99%;
    border: 1px solid #DDDDDD;
    margin: auto auto 30px;
}

th {
    background-color: #FF9933;
    font-size: 18px;
    color: black;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
}

td {
    font-size: 14px;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
}

th.file, td.file {
    padding-left: 12px;
    padding-right: 3px;
    width: 17%;
}

th.description, td.description {
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}

tr.results-table:nth-child(even) {
    background-color: #FFE39E;
}

tr.results-table:nth-of-type(odd) {
    background: #FFD779;
}

tr.results-table:hover {
    background-color: #FFB266;
}

h4 {
    text-align: center;
    font-size: 14px;
    color: dimgrey;
    margin: 15px auto 20px;
}

span.keyword {
    color: red;
    font-weight: bold;
}

h4.link_to_top {
    color: orange;
    margin-bottom: 60px;
}

div.nav-page {
    width: 70%;
    margin: 0 auto;
    border: 1px solid #DDDDDD;
    background-color: #EEEEEE;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #EEEEEE;
}

input[type=button].nav-page {
    text-align: center;
    font-size: 1em;
    background-color: orange;
    color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #eeeeee;
    box-shadow: 1px 1px 1px black;
    text-shadow:none;
    padding: 5px 15px 5px;
    margin: auto 5px auto;
    width: 15%;
}

input[type=button].nav-page:hover {
    background-color: darkorange;
}

label.nav-page {
    color: black;
}

input[type=number].nav-page {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px;
    font-size: 1em;
    width: 10%;
    text-align: center;
}