div.info_container {
    width: 40%;
    margin: 15px auto 60px;
    border: 1px solid #DDDDDD;
    background-color: #EEEEEE;
    padding: 15px;
    border-radius: 20px;
    align-content: center;
    box-shadow: 5px 5px 5px #EEEEEE;
}

p.info_container {
    font-size: 1.2em;
    color: darkred;
}