{% extends 'base.html' %}
{% block scripts_and_css %}
    <link href="/static/css/about.css" rel="stylesheet">
    <script src="/static/scripts/about.js"></script>
{% endblock %}
{% block icon %}
    <img src="/static/media/hound.png" alt="HoundSploit">
{% endblock %}
{% block h1_style %}style="margin-top: 10px"{% endblock %}
{% block about %}
    {% if db_update_alert %}
        <script>alert("Database has been updated")</script>
    {% endif %}
    {% if sw_update_alert %}
        <script>alert("HoundSploit has been updated")</script>
    {% endif %}
    <div class ="info_container">
        <table>
            <tr>
                <th>Version:</th>
                <td>2.0.0 (beta)</td>
            </tr>
            <tr>
                <th>Release date:</th>
                <td>2020-04-16</td>
            </tr>
            <tr>
                <th>Developer:</th>
                <td>Nicolas Carolo</td>
            </tr>
            <tr>
                <th>Last Database update:</th>
                <td>{{latest_db_update}}</td>
            </tr>
            <tr>
                <th>GitHub page:</th>
                <td><a href="https://github.com/nicolas-carolo/HoundSploit">GitHub page of the project</a></td>
            </tr>
        </table>
        <input type="button" id="update-button" name="update-button" value="Check for updates" onclick="checkForUpdates()">
    </div>
{% endblock %}
