{% extends 'base.html' %}
{% block scripts_and_css %}
    <script>getTheme("advanced_searcher.css")</script>
    <script>getTheme("base_searcher.css")</script>
{% endblock %}
{% block input_form %}
    <form action="/advanced-search" method="POST" id="searcher-form" name="searcher-form" onsubmit="resetPages()">
        {% if searched_text %}
            <input type="text" id="searched-text" name="searched-text" value="{{ searched_text }}">
        {% else %}
            <input type="text" id="searched-text" name="searched-text">
        {% endif %}
        <input type="hidden" id="hid-e-page" name="hid-e-page" value="{{ current_exploits_page }}">
        <input type="hidden" id="hid-s-page" name="hid-s-page" value="{{ current_shellcodes_page }}">
        <input type="hidden" id="current-view" name="current-view" value="">
        <input type="hidden" id="sorting-type" name="sorting-type" value="{{ sorting_type }}">
        <input type="submit" id="search-button" name="search-button" value="Search">
        <div class="filters-container">
            <table class="filters-table">
                <tr>
                    <td class="filter-title"><label for search-operator class="filter-title">Search operator:</label></td>
                    <td class="filter-value">
                        <select id="search-operator" name="search-operator">
                            {% if operator_filter == "OR" %}
                                <option value="AND">AND</option>
                                <option value="OR" selected>OR</option>
                            {% else %}
                                <option value="AND" selected>AND</option>
                                <option value="OR">OR</option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="filter-title"><label for author class="filter-title">Author:</label></td>
                    <td class="filter-value">
                        {% if searched_text %}
                            <input type="text" id="author" name="author" value="{{ author_filter }}"><br>
                        {% else %}
                            <input type="text" id="author" name="author"><br>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="filter-title"><label for type class="filter-title">Type:</label></td>
                    <td class="filter-value">
                        <select id="type" name="type">
                            <option value="all" selected="selected">all</option>
                            {% for type in vulnerability_types_list %}
                                {% if type == type_filter %}
                                    <option value="{{ type }}" selected="selected">{{ type }}</option>
                                {% else %}
                                    <option value="{{ type }}">{{ type }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="filter-title"><label for platform class="filter-title">Platform:</label></td>
                    <td class="filter-value">
                        <select id="platform" name="platform">
                            <option value="all" selected="selected">all</option>
                            {% for platform in vulnerability_platforms_list %}
                                {% if platform == platform_filter %}
                                    <option value="{{ platform }}" selected="selected">{{ platform }}</option>
                                {% else %}
                                    <option value="{{ platform }}">{{ platform }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="filter-title"><label for port class="filter-title">Port:</label></td>
                    <td class="filter-value">
                        {% if port_filter %}
                            <input type="number" id="port" name="port" min="0" max="65535" value="{{ port_filter }}"><br>
                        {% else %}
                            <input type="number" id="port" name="port" min="0" max="65535"><br>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="filter-title"><label for date-from class="filter-title">From:</label></td>
                    <td class="filter-value">
                        {% if date_from_filter %}
                            <input type="date" id="date-from" name="date-from" value="{{ date_from_filter }}">
                        {% else %}
                            <input type="date" id="date-from" name="date-from">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="filter-title"><label for date-to class="filter-title">To:</label></td>
                    <td class="filter-value">
                        {% if date_to_filter %}
                            <input type="date" id="date-to" name="date-to" value="{{ date_to_filter }}">
                        {% else %}
                            <input type="date" id="date-to" name="date-to">
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}