<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HoundSploit</title>
        <link rel="icon" type="image/png" href="/static/media/icon.png">
        <script src="/static/scripts/settings.js"></script>
        <script>getTheme("base.css")</script>
        <script src="/static/scripts/search-engine.js"></script>
        {% block scripts_and_css %}
        {% endblock %}
    </head>
    <body>
        <a name="top"></a>
        <div class="navbar">
            <a class="home_item" href="/">HoundSploit</a>
            <a href="/advanced-search">Advanced search</a>
            <a href="/news">News</a>
            <a href="/suggestions">Suggestions</a>
            <a href="/bookmarks">Bookmarks</a>
            <a href="/settings">Settings</a>
        </div>
        {% block icon %}
        {% endblock %}
        <h1 {% block h1_style %}{% endblock %}>HoundSploit</h1>
        <h2>An advanced search engine for Exploit-DB</h2>
        {% block input_form %}
        {% endblock %}
        {% block results_table %}
        {% endblock %}
        {% block code_viewer %}
        {% endblock %}
        {% block settings %}
        {% endblock %}
        {% block about %}
        {% endblock %}
        <footer>
            <p class="footer">HoundSploit &copy; 2021 Nicolas Carolo</p>
        </footer>
    </body>
</html>