{% extends 'base.html' %}
{% block scripts_and_css %}
    <script>getTheme("base_searcher.css")</script>
{% endblock %}
{% block input_form %}
    <div id="div-searcher" name="div-searcher" onsubmit="resetPages()">
        <form action="/" method="POST" id="searcher-form" name="searcher-form">
            {% if searched_text %}
                <input type="text" id="searched-text" name="searched-text" value="{{ searched_text }}">
            {% else %}
                <input type="text" id="searched-text" name="searched-text">
            {% endif %}
            <input type="hidden" id="hid-e-page" name="hid-e-page" value="{{ current_exploits_page }}">
            <input type="hidden" id="hid-s-page" name="hid-s-page" value="{{ current_shellcodes_page }}">
            <input type="hidden" id="current-view" name="current-view" value="">
            <input type="hidden" id="sorting-type" name="sorting-type" value="{{ sorting_type }}">
            <input type="submit" id="search-button" name="search-button" value="Search">
        </form>
    </div>
{% endblock %}