{% extends 'base.html' %}
{% block scripts_and_css %}
    <script>getTheme("bookmarks.css")</script>
{% endblock %}
{% block results_table %}
    <div>
        <h2 class="vulnerability_type">Bookmarks</h2>
        <table id="suggestions-table" name="suggestions-table" class="suggestions-table">
            <tr>
                <th>Searched words</th>
                <th>Suggestion</th>
                <th>Automatic replacement</th>
                <th>Delete</th>
                </tr>
            {% for res in suggestions %}
                <tr>
                    <td>{{ res.searched }}</td>
                    <td>{{ res.suggestion }}</td>
                    <td>{{ res.autoreplacement }}</td>
                    {% if res.searched in default_suggestions %}
                        <td></td>
                    {% else %}
                        <td><input type="button" id="delete-suggestion-button" name="delete-suggestion-button" onclick="window.location.href = '/delete-suggestion?searched={{ res.searched }}'" value="Delete"></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}