{% extends 'base.html' %}
{% block scripts_and_css %}
    <script>getTheme("base_searcher.css")</script>
    <script>getTheme("bookmarks.css")</script>
{% endblock %}
{% block results_table %}
    <div class="div-searcher" id="div-searcher" name="div-searcher" onsubmit="resetPages()">
        <form action="/bookmarks" method="POST" id="searcher-form" name="searcher-form">
            {% if searched_text %}
                <input type="text" id="searched-text" name="searched-text" value="{{ searched_text }}">
            {% else %}
                <input type="text" id="searched-text" name="searched-text">
            {% endif %}
            <input type="hidden" id="hid-b-page" name="hid-b-page" value="{{ current_bookmarks_page }}">
            <input type="submit" id="search-button" name="search-button" value="Search">
        </form>
    </div>
    <div>
        <a name="bookmarks_list"><h2 class="vulnerability_type">Bookmarks</h2></a>
        <table class="results-table">
            <tr class="results-table">
                <th class="file">File</th>
                <th class="description">Description</th>
                <th class="date">Date</th>
                <th class="author">Author</th>
                <th class="vul-type">Type</th>
                <th class="platform">Platform</th>
                <th class="port">Port</th>
            </tr>
            {% for bookmark in bookmarks_list %}
                <tr class="results-table">
                    {% if 'exploit' in bookmark.file %}
                        <td class="file"><a href="/exploit-details?exploit-id={{ bookmark.id }}&searched-text={{ searched_text }}&isprevpagebookmarks=true">{% autoescape off %}{{ bookmark.file }}{% endautoescape %}</a></td>
                    {% else %}
                        <td class="file"><a href="/shellcode-details?shellcode-id={{ bookmark.id }}&searched-text={{ searched_text }}&isprevpagebookmarks=true">{% autoescape off %}{{ bookmark.file }}{% endautoescape %}</a></td>
                    {% endif %}
                    <td class="description">{% autoescape off %}{{ bookmark.description }}{% endautoescape %}</td>
                    <td class="date">{{ bookmark.date }}</td>
                    <td class="author">{% autoescape off %}{{ bookmark.author }}{% endautoescape %}</td>
                    <td class="vul-type">{{ bookmark.type }}</td>
                    <td class="platform">{{ bookmark.platform }}</td>
                    <td class="port">{% autoescape off %}{{ bookmark.port }}{% endautoescape %}</td>
                </tr>
            {% endfor %}
            </table>
            <div class="nav-page">
                <input type="button" id="first-bookmark-page-btn" name="first-bookmark-page-btn" class="nav-page" value="First" onclick="goFirstBookmarksPage()">
                <input type="button" id="previous-bookmark-page-btn" name="previous-bookmark-page-btn" class="nav-page" value="Previous" onclick="previousBookmarksPage()">
                <label for="bookmark-page-number" id="bookmark-page-label" name="bookmark-page-label" class="nav-page">Page:</label>
                <input type="number" id="bookmark-page-number" name="bookmark-page-number" class="nav-page" value="{{ current_bookmarks_page }}" min="1" max="{{ latest_bookmarks_page }}">
                <input type="button" id="go-bookmark-page-btn" name="go-bookmark-page-btn" class="nav-page" value="Go" onclick="goBookmarksPage()">
                <input type="button" id="next-bookmark-page-btn" name="next-bookmark-page-btn" class="nav-page" value="Next" onclick="nextBookmarksPage('{{ latest_bookmarks_page }}')">
                <input type="button" id="last-bookmark-page-btn" name="last-bookmark-page-btn" class="nav-page" value="Last" onclick="goLastBookmarksPage('{{ latest_bookmarks_page }}')">
            </div>
    </div>
{% endblock %}
