{% extends 'base.html' %}
{% block scripts_and_css %}
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify/loader/run_prettify.js"></script>
    <script>getTheme("code_viewer.css")</script>
    <link href="/static/css/dark-theme/tomorrow-night.css" rel="stylesheet">
{% endblock %}
{% block code_viewer %}
    {% if download_alert %}
        <script>alert("{{ download_alert }}")</script>
    {% endif %}
    <div class="vulnerability_info">
        <table id="vulnerability-info-table" name="vulnerability-info-table" class="vulnerability_info">
            <tr>
                <th>Description:</th>
                <td>{{ vulnerability_description }}</td>
            </tr>
            <tr>
                <th>Author:</th>
                <td>{{ vulnerability_author }}</td>
            </tr>
            <tr>
                <th>File:</th>
                <td>{{ vulnerability_file }}</td>
            </tr>
            <tr>
                <th>Date:</th>
                <td>{{ vulnerability_date }}</td>
            </tr>
            <tr>
                <th>Type:</th>
                <td>{{ vulnerability_type }}</td>
            </tr>
            <tr>
                <th>Platform:</th>
                <td>{{ vulnerability_platform }}</td>
            </tr>
            {% if vulnerability_port %}
                <tr>
                    <th>Port:</th>
                    <td>{{ vulnerability_port }}</td>
                </tr>
            {% endif %}
        </table>
        {% if exploit_id %}
            <a href="/download-exploit?exploit-id={{ exploit_id }}""><button>Download</button></a>
        {% endif %}
        {% if shellcode_id %}
            <a href="/download-shellcode?shellcode-id={{ shellcode_id }}""><button>Download</button></a>
        {% endif %}
    </div>
    <div class="code-container">
        <pre class="prettyprint linenums:1">{{ vulnerability_code }}</pre>
    </div>
{% endblock %}