{% extends 'base.html' %}
{% block scripts_and_css %}
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify/loader/run_prettify.js"></script>
    <script>getTheme("code_viewer.css")</script>
    <script>getTheme("tomorrow.css")</script>
    {% if is_prev_page_bookmarks %}
        <script>
            window.addEventListener( "pageshow", function ( event ) {
                var historyTraversal = event.persisted || ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
                if ( historyTraversal ) {
                    // Handle page restore.
                    //alert('refresh');
                    window.location.href = '/bookmarks?searched={{ searched_text }}'
                }
            });
        </script>
    {% else %}
    <script>
        window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted || ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
            if ( historyTraversal ) {
                // Handle page restore.
                //alert('refresh');
                window.history.back();
            }
        });
    </script>
    {% endif %}
{% endblock %}
{% block code_viewer %}
    {% if download_alert %}
        <script>alert("{{ download_alert }}")</script>
    {% endif %}
    <div class="vulnerability_info">
        <table id="vulnerability-info-table" name="vulnerability-info-table" class="vulnerability_info">
            <tr>
                <th>Description:</th>
                <td>{{ vulnerability_description }}</td>
            </tr>
            <tr>
                <th>Author:</th>
                <td>{{ vulnerability_author }}</td>
            </tr>
            <tr>
                <th>File:</th>
                <td>{{ vulnerability_file }}</td>
            </tr>
            <tr>
                <th>Date:</th>
                <td>{{ vulnerability_date }}</td>
            </tr>
            <tr>
                <th>Type:</th>
                <td>{{ vulnerability_type }}</td>
            </tr>
            <tr>
                <th>Platform:</th>
                <td>{{ vulnerability_platform }}</td>
            </tr>
            {% if vulnerability_port and vulnerability_port != "" %}
                <tr>
                    <th>Port:</th>
                    <td>{{ vulnerability_port }}</td>
                </tr>
            {% endif %}
        </table>
        <table class="buttons-table">
            <tr class="buttons-table">
                {% if exploit_id %}
                    <td class="buttons-table">
                        <a href="/download-exploit?exploit-id={{ exploit_id }}""><button>Download</button></a>
                    </td>
                    <td class="buttons-table">
                        {% if bookmarked %}
                            <a href="/remove-bookmark-exploit?exploit-id={{ exploit_id }}""><button>Delete Bookmark</button></a>
                        {% else %}
                            <a href="/bookmark-exploit?exploit-id={{ exploit_id }}""><button>Add Bookmark</button></a>
                        {% endif %}
                    </td>
                {% endif %}
                {% if shellcode_id %}
                    <td class="buttons-table">
                        <a href="/download-shellcode?shellcode-id={{ shellcode_id }}""><button>Download</button></a>
                    </td>
                    <td class="buttons-table">
                        {% if bookmarked %}
                            <a href="/remove-bookmark-shellcode?shellcode-id={{ shellcode_id }}""><button>Delete Bookmark</button></a>
                        {% else %}
                            <a href="/bookmark-shellcode?shellcode-id={{ shellcode_id }}""><button>Add Bookmark</button></a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        </table>
    </div>
    <div class="code-container">
        <pre class="prettyprint linenums:1">{{ vulnerability_code }}</pre>
    </div>
{% endblock %}