{% extends 'base.html' %}
{% block scripts_and_css %}
    <link href="/static/css/suggestions.css" rel="stylesheet">
{% endblock %}
{% block input_form %}
    <form action="/add-suggestion" method="POST">
        <div id="suggestions_input_container" class="suggestions_input_container">
            <table>
                <tr>
                    <th><label>Searched words:</label></th>
                    <td><input type="text" id="searched" name="searched" required><br></td>
                </tr>
                <tr>
                    <th><label>Suggestion:</label></th>
                    <td><input type="text" id="suggestion" name="suggestion" required><br></td>
                </tr>
                <tr>
                    <th><label>Automatic replacement:</label></th>
                    <td>
                        <select id="autoreplacement" name="autoreplacement">
                            <option value="false">False</option>
                            <option value="true">True</option>
                        </select>
                    </td>
                </tr>
            </table>
            <input id="add-suggestion" name="add-suggestion" type="submit" value="Add">
            {% if suggestion_error %}
                <br><p style="color: red; text-align: center">{{ suggestion_error }}</p>
            {% endif %}
        </div>
    </form>
{% endblock %}
{% block results_table %}
    <div>
        <h2 class="vulnerability_type">Suggestions</h2>
        <table id="suggestions-table" name="suggestions-table" class="suggestions-table">
            <tr>
                <th>Searched words</th>
                <th>Suggestion</th>
                <th>Automatic replacement</th>
                <th>Delete</th>
                </tr>
            {% for res in suggestions %}
                <tr>
                    <td>{{ res.searched }}</td>
                    <td>{{ res.suggestion }}</td>
                    <td>{{ res.autoreplacement }}</td>
                    {% if res.searched in default_suggestions %}
                        <td></td>
                    {% else %}
                        <td><input type="button" id="delete-suggestion-button" name="delete-suggestion-button" onclick="window.location.href = '/delete-suggestion?searched={{ res.searched }}'" value="Delete"></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}