button {
    text-align: center;
    font-size: 14px;
    width: 75px;
    background-color: orange;
    color: #FFFFFF;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #EEEEEE;
    text-shadow:none;
    padding: 0px;
}

button:hover {
    text-align: center;
    font-size: 14px;
    width: 75px;
    background-color: darkorange;
    color: #FFFFFF;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #eee;
    text-shadow:none;
    padding: 0px;
}

button[name=advanced_search_btn] {
    text-align: center;
    font-size: 20px;
    width: 7%;
    margin-bottom: 25px;
    background-color: orange;
    color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #EEEEEE;
    text-shadow:none;
}

button[name=advanced_search_btn]:hover {
    text-align: center;
    font-size: 20px;
    width: 7%;
    margin-bottom: 25px;
    background-color: darkorange;
    color: #FFFFFF;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
}

.vulnerability_info button{
    width: 20%;
    padding: auto;
    font-size: 20px;
}

button[name=download_upgrade_btn] {
    width: 150px;
    height: 55px;
    font-size: 20px;
}

button[name=download_upgrade_btn]:hover {
    width: 150px;
    height: 55px;
    font-size: 20px;
}