.navbar {
    background-color: orange;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #FFE39E;
    color: black;
}

.navbar a.home_item {
  background-color: darkorange;
  color: white;
}

.navbar a.home_item:hover {
  background-color: orangered;
  color: white;
}