{% extends 'base.html' %}
{% block input_form %}
    <form action="{% url 'get_results_table_advanced' %}" method="POST">
        {% csrf_token %}
        {{ form.search_text }}
        <button name="advanced_search_btn" type="submit">Search</button>
        <div class="info_container">
            <label>Search operator:</label>
            {{ form.operator }}
            <label>Author:</label>
            {{ form.author }}<br>
            <label>Type:</label>
            {{ form.type }}
            <label>Platform:</label>
            {{ form.platform }}
            <label>Port:</label>
            {{ form.port }}<br>
            <label>From:</label>
            {{ form.start_date }}
            <label>To:</label>
            {{ form.end_date }}
            {% if date_range_error %}
                <br><p style="color: red">{{ date_range_error }}</p>
            {% endif %}
        </div>
    </form>
{% endblock %}