{% extends 'base.html' %}
{% block icon %}
    <img src="/static/media/hound.png" alt="HoundSploit">
{% endblock %}
{% block h1_style %}style="margin-top: 10px"{% endblock %}
{% block about %}
    <div class ="info_container">
        <p>Version: 1.1.5</p>
        <p>Release date: April 19, 2019</p>
        <p>Developer: Nicolas Carolo</p>
        <p>Last Database update: April 19, 2019</p>
        <p><a href="https://github.com/nicolas-carolo/HoundSploit">GitHub page of the project</a></p>
    </div>
{% endblock %}
{% block update_popup %}
    {% if update_available %}
        <div class="upgrade_info">
            <p class="upgrade_info">A new software version is available for download!</p><br>
            <div name="upgrade_button_container">
                <a href="https://github.com/nicolas-carolo/HoundSploit/archive/master.zip"><button name="download_upgrade_btn">Download upgrade</button></a>
            </div>
        </div>
    {% endif %}
{% endblock %}
