{% extends 'base.html' %}
{% block icon %}
    <img src="/static/media/hound.png" alt="HoundSploit">
{% endblock %}
{% block h1_style %}style="margin-top: 10px"{% endblock %}
{% block about %}
    <div class ="info_container">
        <p>Version: 1.0.0 (dev)</p>
        <p>Release date: February 2019</p>
        <p>Developer: Nicolas Carolo</p>
        <p>Last Database update: February 1, 2019</p>
        <p><a href="https://github.com/nicolas-carolo/HoundSploit">GitHub page of the project</a></p>
    </div>
{% endblock %}