<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HoundSploit</title>
        <link href="/static/css/base.css" rel="stylesheet">
        <link href="/static/css/button.css" rel="stylesheet">
        <link href="/static/css/div.css" rel="stylesheet">
        <link href="/static/css/input.css" rel="stylesheet">
        <link href="/static/css/navbar.css" rel="stylesheet">
        <link href="/static/css/table.css" rel="stylesheet">
        {% block important_scripts %}
        {% endblock %}
    </head>
    <body>
        <a name="top"></a>
        <div class="navbar">
            <a class="home_item" href="/searcher">HoundSploit</a>
            <a href="{% url 'get_results_table_advanced' %}">Advanced search</a>
            <a href="{% url 'show_help' %}">Help</a>
            <a href="{% url 'show_info' %}">About</a>
        </div>
        {% block icon %}
        {% endblock %}
        <h1 {% block h1_style %}{% endblock %}>HoundSploit</h1>
        <h2>An advanced search engine for Exploit-DB</h2>
        {% block input_form %}
        {% endblock %}
        {% block results_form %}
        {% endblock %}
        {% block code_viewer %}
        {% endblock %}
        {% block about %}
        {% endblock %}
        <footer>
            <p>HoundSploit &nbsp;&nbsp; Developed by Nicolas Carolo &nbsp;&nbsp; <a href="https://github.com/nicolas-carolo/HoundSploit">GitHub page of the project</a></p>
        </footer>
    </body>
</html>