<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HoundSploit</title>
        <link href="/static/base.css" rel="stylesheet">
    </head>
    <body>
        <h1>HoundSploit</h1>
        <h2>An advanced search engine for SearchSploit</h2>
        <form method="POST">
            <input type="text" name="search_item"> <input type="submit" value="Search">
            {% csrf_token %}
        </form>
        {% for res in result %}
            <li>{{ res.description }}</li>
        {% endfor %}
    </body>
</html>