div.filters-container {
    width: 40%;
    margin: 0 auto;
    border: 1px solid #DDDDDD;
    background-color: #EEEEEE;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #EEEEEE;
}

input[type=number] {
    background-color: white;
    color: black;
}

input[type=date] {
    background-color: white;
    color: black;
    border-radius: 10px;
    border-color: #EEEEEE;
    border-bottom-color: #EEEEEE;
    padding: 2px;
    margin-top: 25px;
}

option {
    background-color: white;
    color: black;
}

select {
    background-color: white;
    color: black;
    border-radius: 10px;
    border-color: #EEEEEE;
    border-bottom-color: #EEEEEE;
    padding: 2px;
}

#author {
    font-size: 1em;
}